footer
    background $img('bg-footer.png') repeat center #69696A
    padding 20px 0 25px
    .center
        display flex
        +mobile()
            display block
    .links
        padding-right 55px
        a
            display block
            ubuntu 12 bold
            color #fff
            margin-top 15px
            &:first-child
                margin-top 0
            &:hover
                color #96FCFD
            &.sub
                margin-top 2px
                ubuntu 11
                padding-left 15px
                background $img('seta-footer.png') no-repeat left center
        +below($tablet)
            display none
    .dados
        margin-left auto
        padding-right 60px
        +tablet()
            margin-left 0
            margin-right auto
            padding 0
        +mobile()
            width 100%
            margin 0 0 15px
            padding 0
        .telefone
            margin 0
            ubuntu 24
            line-height 1
            color #fff
            span
                ubuntu 14
        .endereco
            ubuntu 11
            color #fff
            margin 20px 0
        a
            ubuntu 12
            color #fff
            &:hover
                color #96FCFD
    .copyright
        ubuntu 10
        color rgba(#fff, .7)
        a:hover
            color #fff
        p
            margin 0
