header
    background $img('bg-header.png') repeat center $azul
    .center
        clearfix()
    .voltar-grupo
        display block
        float left
        color #fff
        ubuntu 13
        padding 8px 0
        &:hover
            color #96fcfd
        + .right
            padding-top 4px
        +mobile()
            width 100%
            text-align center
            + .right
                padding-top 0
    nav
        float left
        a
            display block
            float left
            padding 10px 16px
            transition background .3s
            ubuntu 13
            color #fff
            margin-right 1px
            &:hover
            &.active
                background #0EADD9
            +tablet()
                padding 10px
        +mobile()
            width 100%
            a
                width 50%
                text-align center
                margin-right 0
                font-size 12px
    .right
        float right
        +below(910px)
            width 100%
            margin-top 5px
            padding-bottom 5px
        +below(455px)
            padding-bottom 10px
        +mobile()
            text-align center
        .links
            display inline-block
            vertical-align middle
            +below(455px)
                display block
        .colaboradores
            display inline-block
            ubuntu 11 bold
            padding 11px 8px
            color #96FCFD
            position relative
            &.restrita
                padding-left 2px
                &:before
                    display:none
            +mobile()
                font-size 10px
            &:before
            &:after
                content ''
                position absolute
                top 50%
                margin-top -5px
                height 10px
                width 2px
                background #96FCFD
                opacity .8
                +mobile()
                    margin-top -6px
            &:before
                left 0
            &:after
                right 0
            &:hover
                color #fff
        .social
            display inline-block
            vertical-align middle
            height 16px
            width 56px
            margin-left 20px
            font-size 0
            a
                display inline-block
                margin-right 4px
                &:last-child
                    margin-right 0
                width 16px
                height 16px
                background-position center top
                background-repeat no-repeat
                transition background .3s
                &:hover
                    background-position center bottom
                &.facebook
                    background-image $img('ico-facebook.png')
                &.linkedin
                    background-image $img('ico-linkedin.png')
                &.youtube
                    background-image $img('ico-youtube.png')
        .lang
            width 18px
            height 14px
            display inline-block
            vertical-align middle
            margin-left 20px
            +below($tablet)
                margin-left 15px
            &.lang-pt
                background $img('lang-pt.png') no-repeat center
            &.lang-en
                background $img('lang-en.png') no-repeat center
