desktop-base-width     = 1200px
rupture.desktop-cutoff = $tablet = 1280px
rupture.mobile-cutoff  = $mobile = 768px
rupture.anti-overlap   = -1px

$azul = #224C83

@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,700')

ubuntu($size, $weight = normal)
    font-size $size + 0px
    font-family 'Ubuntu', 'Helvetica', 'Arial', sans-serif
    font-weight 400
    if $weight == light
        font-weight 300
    if $weight == bold
        font-weight 700
