.cases
    .navegacao
        h1
            ubuntu 32 light
            color $azul
            margin 0
            padding 50px 0 45px
            text-align center
            +mobile()
                font-size 22px
                padding 25px 0 20px
        nav
            height 60px
            +mobile()
                height 45px
            border-bottom 1px solid #DADADA
            background-image linear-gradient(#fff 10%, #F1F1F1 100%)
            clearfix()
            a
                width 245px
                height 60px
                display block
                float left
                border 1px solid #DADADA
                transition background .3s
                position relative
                background-repeat no-repeat
                background-position center
                +mobile()
                    height 45px
                +below(500px)
                    &.meta-talentos
                    &.meta-technology
                        background-size 80% auto
                &:before
                &:after
                    content ''
                    position absolute
                    width 0
                    height 0
                    border-style solid
                    border-width 0 10px 10px 0
                    border-color transparent #DADADA transparent transparent
                    top -1px
                    right -1px
                &:after
                    top -1.99px
                    right -1.99px
                    border-color transparent #fff transparent transparent
                    z-index 2
                + a
                    margin-left 7px
                +below($tablet)
                    width calc('25% - 4px')
                    + a
                        margin-left 4px
                &.meta-bpo
                    background-image $img('meta-bpo-marca-cinza.png')
                    &.active
                        background-image $img('meta-bpo-marca-pequena.png')
                &.meta-executivos
                    background-image $img('meta-executivos-marca-cinza.png')
                    &.active
                        background-image $img('meta-executivos-marca-pequena.png')
                &.meta-talentos
                    background-image $img('meta-talentos-marca-cinza.png')
                    &.active
                        background-image $img('meta-talentos-marca-pequena.png')
                &.meta-technology
                    background-image $img('meta-technology-marca-cinza.png')
                    &.active
                        background-image $img('meta-technology-marca-pequena.png')
                &.active
                    background-color #fff
                    border-bottom 1px solid #fff
                &:hover
                    background-color #fff
    .cases-main
        padding 65px 0 60px
        clearfix()
        +mobile()
            padding 30px 0 25px
        .cases-lista
            width 245px
            float left
            a
                ubuntu 16
                color $azul
                padding-left 26px
                display block
                line-height 1
                background $img('seta-cases.png') no-repeat left 3px
                + a
                    margin-top 8px
                &.active
                    font-weight 700
            +tablet()
                width 25%
                a
                    font-size 15px
            +mobile()
                width 100%
                margin-bottom 25px
                a
                    font-size 14px
        .cases-conteudo
            width calc('100% - 245px')
            padding-left 50px
            position relative
            float left
            min-height 160px
            +tablet()
                width 75%
                padding-left 40px
            +mobile()
                padding-left 0
                width 100%
                min-height 0
                &:before
                    display none
            &:before
                content ''
                position absolute
                top 0
                left 0
                width 1px
                height 160px
                background #DADADA
            .titulo
                width 100%
                clearfix()
                img
                    width 100px
                    float left
                    margin-right 25px
                h2
                    float left
                    width calc('100% - 125px')
                    ubuntu 20
                    color $azul
                    padding-top 10px
                    margin 0
                +mobile()
                    img
                        width 60px
                        margin-right 20px
                    h2
                        width calc('100% - 80px')
                        font-size 16px
                        padding-top 0
            .texto
                max-width 600px
                margin-top 25px
                p
                    ubuntu 14
                    color #777
.case
    animation fadeEffect .5s

@keyframes fadeEffect
    from
        opacity 0
    to
        opacity 1
