.depoimentos
    .navegacao
        h1
            ubuntu 32 light
            color $azul
            margin 0
            padding 35px 0 0
            margin-bottom -15px
            +mobile()
                font-size 22px
                padding 25px 0 20px
                margin-bottom 0
                text-align center
        nav
            height 45px
            border-bottom 1px solid #DADADA
            background-image linear-gradient(#fff 10%, #F1F1F1 100%)
            font-size 0
            text-align right
            +mobile()
                text-align left
                height 40px
            clearfix()
            a
                width 168px
                height 45px
                display inline-block
                border 1px solid #DADADA
                transition background .3s
                position relative
                text-align center
                ubuntu 14 bold
                font-style italic
                text-transform lowercase
                color $azul
                line-height 45px
                &:before
                &:after
                    content ''
                    position absolute
                    width 0
                    height 0
                    border-style solid
                    border-width 0 10px 10px 0
                    border-color transparent #DADADA transparent transparent
                    top -1px
                    right -1px
                &:after
                    top -1.99px
                    right -1.99px
                    border-color transparent #fff transparent transparent
                    z-index 2
                + a
                    margin-left 7px
                &.active
                    background-color #fff
                    border-bottom 1px solid #fff
                &:hover
                    background-color #fff
                +mobile()
                    height 40px
                    font-size 14px
                    line-height 40px
                    width calc('50% - 2px')
                    + a
                        margin-left 4px
    .depoimentos-profissionais
        padding 45px 0 60px
        .depoimento
            padding 35px 0
            &:first-child
                padding-top 0
            &:last-child
                padding-bottom 0
            + .depoimento
                border-top 1px solid #e6e6e6
            p
                max-width 645px
                margin-left auto
                margin-right auto
                ubuntu 14
                color #777
                &:first-child
                    margin-top 0
                &:last-child
                    margin-bottom 0
                &.autor
                    color $azul
                    font-style italic
        +mobile()
            padding 30px 0 25px
            .depoimento
                padding 20px 0
    .depoimentos-empresas
        padding 45px 0 60px
        +mobile()
            padding 30px 0 25px
        .center
            position relative
            clearfix()
        .depoimentos-anterior
            position absolute
            right 115px
            top 65px
            width 29px
            height 54px
            display block
            text-indent -9999px
            background $img('seta-depoimentos.png') no-repeat center
            transform rotate(180deg)
            +tablet()
                right 50px
                top 0
            +mobile()
                top 60px
                right 40px
        .depoimentos-proximo
            position absolute
            right 65px
            top 65px
            width 29px
            height 54px
            display block
            text-indent -9999px
            background $img('seta-depoimentos.png') no-repeat center
            +tablet()
                right 0
                top 0
            +mobile()
                top 60px
                right 0
        .depoimento
            clearfix()
            width 100%
            .titulo
                width 180px
                float left
                .imagem
                    width 100%
                    height 180px
                    border 1px solid #e6e6e6
                    border-radius 100%
                    padding 35px
                    overflow hidden
                    img
                        display block
                        width 100%
                h3
                    margin 40px 0 0
                    ubuntu 20
                    font-style italic
                    color $azul
                    text-align center
                    +tablet()
                        margin-top 30px
                        font-size 18px
                +mobile()
                    width 100%
                    margin-bottom 25px
                    .imagem
                        width 180px
                        height 180px
                    h3
                        margin-top 25px
                        font-size 18px
                        text-align left
            .texto
                width 685px
                float left
                padding-left 40px
                +tablet()
                    width calc('100% - 310px')
                +mobile()
                    width 100%
                    padding-left 0
                p
                    ubuntu 14
                    color #777
                    &:first-child
                        margin-top 0
                    &:last-child
                        margin-bottom 0
                    &.autor
                        color $azul
                        font-style italic

.depoimentos-empresas .depoimento
    animation fadeEffect .5s

@keyframes fadeEffect
    from
        opacity 0
    to
        opacity 1
