.home
    .banners
        width 100%
        height 630px
        position relative
        +tablet()
            height 400px
        +mobile()
            height 300px
        .banners-cycle
            z-index -1
        .banners-cycle
        .slide
            width 100%
            height 100%
            position absolute
            top 0
            left 0
            background-size cover
            background-position center
        .faixas
            position absolute
            width 100%
            left 0
            bottom 0
            .faixa-grupo
                background rgba($azul, .7)
                padding 30px 0
                .center
                    clearfix()
                img
                    display inline-block
                    vertical-align middle
                p
                    ubuntu 16 bold
                    font-style italic
                    color #fff
                    margin 0
                    max-width 470px
                    display inline-block
                    vertical-align middle
                    line-height 1.2
                    margin-left 95px
                +tablet()
                    font-size 0
                    img
                        width 250px
                    p
                        width calc('100% - 300px')
                        margin-left 50px
                        font-size 15px
                +mobile()
                    padding 20px 0 30px
                    img
                        width 200px
                        display block
                    p
                        width 100%
                        max-width 100%
                        display block
                        margin 20px 0 0
                        font-size 14px
    .faixa-divisoes
        overflow hidden
        z-index 2
        position relative
        margin-top -10px
        padding-top 10px
        &.mobile
            display none
        +below($tablet)
            &.mobile
                display block
            &.desktop
                display none
        span
            position relative
            display block
            width 100%
            padding 0 20px
            height 20px
            line-height 20px
            ubuntu 13
            color #fff
            background #3C4F7B
            z-index 3
            +below($tablet)
                padding 0 10px
                left -6%
                width 112%
            +mobile()
                font-size 10px
        .divisao
            width 25%
            height 135px
            float left
            transition background .3s, padding .3s
            position relative
            &.meta-bpo
                background rgba(#67BCB1, .7)
                padding-top 35px
                &:hover
                    background #67BCB1
                    padding-top 25px
            &.meta-executivos
                background rgba(#0E5F93, .7)
                padding-top 35px
                &:hover
                    background #0E5F93
                    padding-top 25px
            &.meta-talentos
                background rgba(#FC8E24, .7)
                padding-top 45px
                &:hover
                    background #FC8E24
                    padding-top 35px
            &.meta-technology
                background rgba(#0E7B8A, .7)
                padding-top 40px
                &:hover
                    background #0E7B8A
                    padding-top 30px
            +above($tablet)
                &:before
                    content ''
                    position absolute
                    width 4000px
                    height 100%
                    top 0
                    z-index -1
                &.meta-bpo:before
                    left -4000px
                    background rgba(#67BCB1, .7)
                &.meta-technology:before
                    right -4000px
                    background rgba(#0E7B8A, .7)
            +below($tablet)
                width 50%
                &:before
                &:after
                    content ''
                    position absolute
                    width 2000px
                    height 100%
                    top 0
                    z-index -1
                &:before
                    left -2000px
                &:after
                    right -2000px
                &.meta-bpo
                    background #67BCB1
                    padding-top 25px
                    &:before
                    &:after
                        background #67BCB1
                &.meta-executivos
                    background #0E5F93
                    padding-top 25px
                    &:before
                    &:after
                        background #0E5F93
                &.meta-talentos
                    background #FC8E24
                    padding-top 35px
                    &:before
                    &:after
                        background #FC8E24
                &.meta-technology
                    background #0E7B8A
                    padding-top 30px
                    &:before
                    &:after
                        background #0E7B8A
            +tablet()
                &.meta-executivos:before
                &.meta-technology:before
                    display none
            +mobile()
                width 100%
            img
                display block
                margin 0 auto
                max-width 80%
            .links
                position absolute
                opacity 0
                width calc('100% - 30px')
                left 15px
                bottom 0
                ubuntu 12
                color #fff
                transition all .3s
                a
                    display block
                    border 1px solid #fff
                    transition background .3s
                    width calc('50% - 1.5px')
                    float left
                    padding 3px
                    text-align center
                    &:hover
                        background rgba(#000, .3)
                    + a
                        margin-left 3px
                +below($tablet)
                    opacity 1
                    bottom 15px
            &:hover
                .links
                    opacity 1
                    bottom 15px

    .linha-do-tempo
        padding 75px 0
        overflow hidden
        +tablet()
            padding 60px 0
        +mobile()
            padding 25px 0
        h2
            ubuntu 32 light
            color #777
            text-align center
            margin 0 0 75px
            span
                color $azul
            +tablet()
                font-size 30px
                margin-bottom 60px
            +mobile()
                font-size 24px
                margin-bottom 25px
        .linha-wrapper
            position relative
            padding 0 30px
            &:before
                content ''
                width 9000px
                height 1px
                background #DADADA
                position absolute
                left -4500px
                top 36px
            .seta
                display block
                position absolute
                width 13px
                height 23px
                right 0
                top 25px
                background $img('seta-linha.png') no-repeat center
                text-indent -9999px
                z-index 2
            .seta-voltar
                display block
                position absolute
                width 13px
                height 23px
                left 0
                top 25px
                background $img('seta-linha.png') no-repeat center
                transform rotate(180deg)
                text-indent -9999px
                z-index 2
            .registro
                position relative
                outline 0
                padding-top 50px
                padding-left 25px
                padding-right 25px
                span
                    position absolute
                    top 0
                    left 0
                    ubuntu 16 bold
                    color $azul
                    font-style italic
                p
                    margin 0
                    ubuntu 14
                    color $azul
                .marcador
                    position absolute
                    width 23px
                    height 85px
                    background $img('marcador-linha.png') no-repeat center
                    left 0
                    top 25px

    .missao-visao-valores
        border-top 2px solid $azul
        position relative
        padding 70px 0
        +tablet()
            padding 50px 0
        +mobile()
            padding 25px 0
        &:after
            content ''
            width 100%
            height 637px
            position absolute
            top 0
            left 0
            background $img('missao-visao-valores.png') no-repeat right -2px
            background-size auto 100%
            z-index -1
            +tablet()
                height 500px
            +mobile()
                height 400px
        .center
            clearfix()
        .col
            width 33.333%
            float left
            text-align center
            padding 0 45px
            h3
                ubuntu 24 bold
                font-style italic
                color $azul
                margin 0 0 20px
            p
                ubuntu 16
                color #777
                margin 0
                + p
                    margin-top .6em
            ul
                padding 0
                li
                    list-style none
                    text-align center
                    ubuntu 16
                    color #777
                    + li
                        margin-top .4em
                    &:before
                        content '\00b7 '
            +tablet()
                padding 0 25px
                h3
                    font-size 20px
                p
                ul li
                    font-size 15px
            +mobile()
                padding 0
                width 100%
                + .col
                    margin-top 25px
                h3
                    font-size 18px
                    margin-bottom 14px
                p
                ul li
                    font-size 14px

    .video-diferenciais
        padding-bottom 90px
        +tablet()
            padding-bottom 60px
        +mobile()
            padding-bottom 40px
        .center
            clearfix()
        .left
            width 47.5%
            float left
            +mobile()
                width 100%
                margin-bottom 25px
            .video
                position relative
                padding-bottom 56.25%
                height 0
                iframe
                    position absolute
                    top 0
                    left 0
                    width 100%
                    height 100%
            .selos
                text-align center
                font-size 0
                margin 35px 0 25px
                vertical-align top
                .selo
                    display inline-block
                    vertical-align middle
                    margin 0 10px 10px
                    max-width 67px
                    position relative
                    img
                        display block
                        width 100%
                    .popup
                        position absolute
                        bottom 45px
                        left 50%
                        transform translateX(-50%) translateY(-10px)
                        border 1px solid #bbb
                        width 300px
                        height auto
                        border-radius 5px
                        background #fff
                        opacity 0
                        visibility hidden
                        transition all .3s
                        ubuntu 14
                        color #777
                        text-align center
                        padding 20px
                        z-index 2
                        &:before
                            content ''
                            position absolute
                            bottom -12px
                            left 50%
                            margin-left -10px
                            width 0
                            height 0
                            border-style solid
                            border-width 12px 10px 0 10px
                            border-color #999 transparent transparent transparent
                        &:after
                            content ''
                            position absolute
                            bottom -10px
                            left 50%
                            margin-left -10px
                            width 0
                            height 0
                            border-style solid
                            border-width 12px 10px 0 10px
                            border-color #fff transparent transparent transparent
                        +below($tablet)
                            display none
                    &:hover .popup
                        opacity 1
                        transform translateX(-50%) translateY(0)
                        visibility visible
                +mobile()
                    margin 25px 0 15px
                    .selo
                        max-width 80px
        .right
            width 47.5%
            float right
            +mobile()
                width 100%
            h3
                ubuntu 32 light
                color $azul
                margin 0 0 20px
                +tablet()
                    font-size 28px
                +mobile()
                    font-size 24px
            p
            ul li
                margin 0
                ubuntu 16
                color $azul
                strong
                    ubuntu 20 bold
                +tablet()
                    font-size 15px
                    strong
                        font-size 18px
                +mobile()
                    font-size 14px
                    strong
                        font-size 17px
            ul
                list-style none
                padding 0
                li
                    position relative
                    padding-left 1em
                    &:before
                        content '\00b7'
                        position absolute
                        top -.2em
                        left 0
                        font-size 1.5em
                    + li
                        margin-top 1em

    .responsabilidade
        padding-bottom 70px
        +tablet()
            padding-bottom 60px
        +mobile()
            padding-bottom 30px
        h3
            ubuntu 32 light
            color $azul
            margin 0 0 .5em
            text-align center
            +tablet()
                font-size 28px
            +mobile()
                font-size 24px
                text-align left
        .texto p
            ubuntu 16
            color #777
            text-align center
            margin 0
            + p
                margin-top .5em
            +mobile()
                font-size 14px
                text-align left
        .empresas
            margin-top 40px
            font-size 0
            text-align center
            width 100%
            +mobile()
                margin-top 20px
            .imagem
                display inline-block
                max-width 180px
                vertical-align top
                margin 0 20px 20px
                position relative
                +mobile()
                    max-width 120px
                    margin 0 10px 10px
                img
                    max-width 100%
                .overlay
                    position absolute
                    +below($tablet)
                        display none
                    width 300px
                    border 1px solid #999
                    display block
                    bottom 50%
                    left 50%
                    background #fff
                    text-align center
                    ubuntu 14
                    color #777
                    opacity 0
                    visibility hidden
                    transform translateX(-50%) translateY(-10px)
                    transition all .3s
                    border-radius 5px
                    z-index 2
                    padding 15px
                    h4
                        ubuntu 14 bold
                        margin 0 0 5px
                    p
                        margin 0
                    &:before
                        content ''
                        position absolute
                        bottom -12px
                        left 50%
                        margin-left -10px
                        width 0
                        height 0
                        border-style solid
                        border-width 12px 10px 0 10px
                        border-color #999 transparent transparent transparent
                    &:after
                        content ''
                        position absolute
                        bottom -10px
                        left 50%
                        margin-left -10px
                        width 0
                        height 0
                        border-style solid
                        border-width 12px 10px 0 10px
                        border-color #fff transparent transparent transparent
                &:hover .overlay
                    opacity 1
                    transform translateX(-50%) translateY(0)
                    visibility visible
        .link-executivos-wrapper
            display block
            width 100%
            margin-top 20px
            text-align center
            +mobile()
                margin-top 10px
            a
                background #68BCB2
                display inline-block
                padding 10px 80px
                ubuntu 24
                color #fff
                text-align center
                text-transform uppercase
                transition background .3s
                &:hover
                    background $azul
                +mobile()
                    display block
                    font-size 15px
                    padding 12px 0
    .clientes
        background $img('img-clientes.png') no-repeat center right #DEEFEF
        background-size auto 100%
        padding 55px 0
        border-bottom 2px solid $azul
        +mobile()
            padding 25px 0
        h3
            ubuntu 32 light
            color $azul
            margin 0 0 40px
            text-align center
            +tablet()
                font-size 28px
                margin-bottom 30px
            +mobile()
                font-size 24px
                margin-bottom 20px
        .box
            background-image linear-gradient(90deg, #fff 80%, transparent 100%)
            padding 35px 0 35px 35px
            font-size 0
            img
                display block
                width 100%
                height auto
                background #fff
                padding 10px
                outline 0
            img + img
                margin-left 10px
            +tablet()
                padding 25px 0 25px 25px
                img
                    width calc('20% - 18px')
            +mobile()
                padding 10px 0 10px 10px
                img
                    width calc('20% - 12px')
                    padding 5px
        .clientes-slides
            width 890px
            position relative
            .clientes-seta
                display block
                position absolute
                width 13px
                height 23px
                right -75px
                top 42px
                background $img('seta-linha.png') no-repeat center
                text-indent -9999px
                z-index 2
                +below($tablet)
                    display none !important
            .clientes-seta-voltar
                display block
                position absolute
                width 13px
                height 23px
                right -45px
                top 42px
                background $img('seta-linha.png') no-repeat center
                transform rotate(180deg)
                text-indent -9999px
                z-index 2
                +below($tablet)
                    display none !important
            +below($tablet)
                width 100%

    .contato
        +mobile()
            padding-top 20px
        h3
            ubuntu 32 light
            color $azul
            margin 0 0 1.2em
            text-align center
            +tablet()
                font-size 28px
            +mobile()
                font-size 24px
                text-align left
        .center
            clearfix()
        .dados
            width 33.333%
            float left
            padding-right 40px
            .telefone
                ubuntu 22 bold
                color $azul
                margin 0 0 10px
            .endereco
                ubuntu 16
                color #777
                margin 0
            +tablet()
                width 40%
                padding-right 30px
                .telefone
                    font-size 20px
                .endereco
                    font-size 15px
            +mobile()
                width 100%
                padding 0
                margin-bottom 20px
                .telefone
                    font-size 18px
                .endereco
                    font-size 14px
        .links
            width 66.667%
            float right
            clearfix()
            a
                display block
                float left
                background #68BCB2
                height 125px
                width calc('50% - 6px')
                transition background .3s
                ubuntu 24 light
                color #fff
                text-align center
                line-height 125px
                text-transform uppercase
                &:hover
                    background $azul
                + a
                    margin-left 12px
            +tablet()
                width 60%
                a
                    height 100px
                    font-size 18px
                    line-height 100px
            +mobile()
                width 100%
                a
                    height auto
                    font-size 16px
                    display block
                    width 100%
                    margin 0
                    padding 15px 0
                    font-size 18px
                    line-height 1
                    + a
                        margin 5px 0 0
        .mapa
            margin-top 30px
            iframe
                width 100%
                height 400px
                display block
                +tablet()
                    height 300px
                +mobile()
                    height 200px

#metanews
    +tablet()
        #faixa-superior h1
            font-size 17px !important
    +mobile()
        #faixa-superior h1
            display none !important
        .coluna
            &:first-child
                padding-top 15px !important
            width 100% !important
            padding 0 0 15px !important

.fancybox-skin
    border-radius 0 !important

.executivos-lightbox
    width 870px
    display flex
    flex-wrap wrap
    +below($tablet)
        width auto
    +tablet()
        max-width 580px
    +mobile()
        max-width 290px
    clearfix()
    .title
        background #67686B
        width 100%
        display block
        ubuntu 32 light
        color #fff
        padding 25px
        text-transform uppercase
        text-align center
        +mobile()
            width 100%
            padding 20px
            font-size 24px
    .thumbs
        clearfix()
    .executivo
        display block
        float left
        width 33.333%
        position relative
        +tablet()
            width 50%
        +mobile()
            width 100%
        padding 20px
        &:hover .overlay
            opacity 1
        img
            width 100%
            display block
        &:nth-child(5n - 8)
            background #1A447B
            .overlay
                background rgba(#1A447B, .7)
        &:nth-child(5n - 7)
            background #235D8F
            .overlay
                background rgba(#235D8F, .7)
        &:nth-child(5n - 6)
            background #5DB5AA
            .overlay
                background rgba(#5DB5AA, .7)
        &:nth-child(5n - 5)
            background #235D8F
            .overlay
                background rgba(#235D8F, .7)
        &:nth-child(5n - 4)
            background #077181
            .overlay
                background rgba(#077181, .7)
        .overlay
            position absolute
            top 0
            left 0
            width 100%
            height 100%
            overflow hidden
            padding 25px
            opacity 0
            transition opacity .3s
            display flex
            align-items center
            h3
                ubuntu 16
                font-style italic
                color #fff
                margin 0 0 15px
                text-align center
                width 100%
                span
                    ubuntu 12
                    display block
                    margin-top 3px
    .interna
        width 100%
        display block
        clearfix()
        .imagem
            width 290px
            float left
            padding 20px
            img
                display block
                width 100%
            +tablet()
                width 180px
            +mobile()
                width 100%
        .texto
            width calc('100% - 290px')
            +tablet()
                width calc('100% - 180px')
            +mobile()
                width 100%
            float right
            padding 20px
            h3
                ubuntu 16
                font-style italic
                color #777
                margin 0 0 15px
                width 100%
                span
                    ubuntu 12
                    display block
                    margin-top 3px
            p
                ubuntu 14
                font-style italic
                color #777
                margin 0
        .executivos-voltar
            float left
            clear both
            border-top 1px solid $azul
            display block
            width 100%
            padding 20px 0
            margin-top 50px
            ubuntu 16 bold
            color $azul
            text-align center
            +tablet()
                margin-top 35px
            +mobile()
                margin-top 25px

.contato-candidatos
    padding 7px
    width 1200px
    background #fff
    +below($tablet)
        width auto
    h2
        background $azul
        ubuntu 36 light
        color #fff
        padding 20px 0
        text-align center
        margin 0
        text-transform uppercase
        +mobile()
            font-size 24px
            padding 12px 0
    .wrapper
        padding 40px
        +below($tablet)
            padding 20px
        h3
            ubuntu 24 light
            color $azul
            margin 0 0 50px
            text-align center
            +mobile()
                font-size 20px
                margin-bottom 25px
        .divisoes
            clearfix()
            width 100%
            a
                display block
                width 25%
                float left
                height 115px
                position relative
                &:nth-child(2)
                    padding-top 5px
                &:nth-child(3)
                    padding-top 15px
                img
                    margin 0 auto
                    display block
                    max-width 80%
                span
                    position absolute
                    bottom 0
                    left 50%
                    transform translateX(-50%)
                    padding 5px 10px
                    border-radius 3px
                    background #EDECED
                    color $azul
                    ubuntu 11
                    transition background .3s, color .3s
                &:hover span
                    background $azul
                    color #fff
                +mobile()
                    width 100%
                    height auto
                    padding-bottom 35px
                    + a
                        margin-top 35px
        form
            width 100%
            clearfix()
            margin-top 65px
            +mobile()
                margin-top 45px
            span
                display block
                width 190px
                height 125px
                background #67686B
                line-height 125px
                ubuntu 16 light
                color #fff
                float left
                text-align center
                +mobile()
                    width 100%
                    height auto
                    line-height 1
                    padding 12px
                    font-size 14px
            .col
                margin 0 5px
                width calc('50% - 165px')
                float left
                +mobile()
                    width 100%
                    margin 5px 0
                    input
                        font-size 15px
                input
                    width 100%
                    height 38.333px
                    background #EDECED
                    outline 0
                    border 0
                    color #777
                    ubuntu 16
                    padding 0 8px
                    font-style italic
                    display block
                    + input
                        margin-top 5px
            textarea
                width calc('50% - 165px')
                height 125px
                margin-right 5px
                float left
                display block
                border 0
                outline 0
                resize none
                ubuntu 16
                font-style italic
                padding 8px
                color #777
                background #EDECED
                +mobile()
                    width 100%
                    height 100px
                    margin-right 0
                    margin-bottom 5px
                    font-size 15px
            input[type=submit]
                width 125px
                float left
                height 125px
                outline 0
                border 0
                background #EDECED
                ubuntu 16 bold
                color $azul
                cursor pointer
                transition background .3s, color .3s
                &:hover
                    background $azul
                    color #fff
                +mobile()
                    width 100%
                    height 45px
            #form-contato-response
                display none
                width 100%
                margin-top 5px
                border 1px solid #DADADA
                color $azul
                ubuntu 14
                text-align center
                padding 10px
                float left

.contato-empresas
    padding 7px
    width 1200px
    background #fff
    +below($tablet)
        width auto
    h2
        background $azul
        ubuntu 36 light
        color #fff
        padding 20px 0
        text-align center
        margin 0
        text-transform uppercase
        +mobile()
            font-size 24px
            padding 12px 0
    .wrapper
        padding 35px
        +below($tablet)
            padding 20px
        form
            clearfix()
            .left
                width 190px
                float left
                margin-right 5px
                .box
                    width 100%
                    height 170px
                    background #727376
                    margin-bottom 12px
                    padding 25px 12px
                    text-align center
                    p
                        margin 0
                        ubuntu 16 light
                        color #fff
                        span
                            display block
                            font-size 14px
                            margin-top 15px
                > p
                    ubuntu 12
                    color #888
                    margin 0
                    a
                        text-decoration underline
                        &:hover
                            color $azul
                +mobile()
                    width 100%
                    margin 0 0 15px
                    .box
                        height auto
                        padding 15px
                        p
                            font-size 15px
                            span
                                font-size 13px
            .col
                width calc('50% - 162.5px')
                float left
                margin-right 5px
                input[type=text]
                input[type=email]
                select
                    width 100%
                    height 38.75px
                    background #EDECED
                    outline 0
                    border 0
                    color #777
                    ubuntu 16
                    padding 0 8px
                    font-style italic
                    display block
                    + input
                    + select
                        margin-top 5px
                textarea
                    width 100%
                    height 166px
                    display block
                    border 0
                    margin-top 5px
                    outline 0
                    resize none
                    ubuntu 16
                    font-style italic
                    padding 8px
                    color #777
                    background #EDECED
                .contratacao
                    margin-top 5px
                    background #EDECED
                    padding 8px
                    font-size 0
                    p
                        ubuntu 16
                        color #777
                        margin 0 0 3px
                    label
                        display inline-block
                        width 33.333%
                        vertical-align top
                        ubuntu 16
                        font-style italic
                        color #777
                        +below($tablet)
                            width 100%
                        input
                            margin-right 4px
                            outline 0
                +mobile()
                    width 100%
                    margin 0 0 5px
                    input
                    textarea
                    p
                    label
                        font-size 15px !important
                    textarea
                        height 100px
            .envio
                width 120px
                float left
                .arquivo-input
                    display block
                    width 120px
                    height 125px
                    margin-bottom 5px
                    overflow hidden
                    position relative
                    cursor pointer
                    input
                        position absolute
                        z-index 1
                        visibility hidden
                        display none
                    span
                        position absolute
                        top 0
                        left 0
                        width 100%
                        height 100%
                        background #EDECED
                        z-index 2
                        text-align center
                        padding 12px
                        ubuntu 14 bold
                        color #777
                        font-style italic
                        transition color .3s
                    &:hover
                        span
                            color $azul
                    &.active
                        span
                            background $azul
                            color #fff !important
                input[type=submit]
                    width 120px
                    height 125px
                    outline 0
                    border 0
                    background #EDECED
                    ubuntu 16 bold
                    color $azul
                    cursor pointer
                    transition background .3s, color .3s
                    &:hover
                        background $azul
                        color #fff
                +mobile()
                    width 100%
                    .arquivo-input
                        width 100%
                        height 80px
                    input[type=submit]
                        width 100%
                        height 45px
                        font-size 15px
            #form-contato-response
                display none
                width 100%
                margin-top 5px
                border 1px solid #DADADA
                color $azul
                ubuntu 14
                text-align center
                padding 10px
                float left
