$verdeMt = #0E7B8A

.meta-technology
    .abertura
        background $img('mt-bg-abertura.png') no-repeat right center $verdeMt
        background-size auto 100%
        position relative
        overflow hidden
        .divisao
            position absolute
            top 0
            right 45%
            width 65%
            height 100%
            background-image linear-gradient(-90deg, rgba($verdeMt, .8) 0%, transparent 25%)
            transform skew(-7.5deg)
            mix-blend-mode multiply
        .texto
            padding 70px 0
            width 45%
            position relative
            z-index 1
            img
                display block
                margin 0 0 60px
            p
                ubuntu 16
                color #fff
                margin 0
                + p
                    margin-top 1em
        +tablet()
            .divisao
                background rgba($verdeMt, .8)
                mix-blend-mode initial
        +mobile()
            background-image none
            .divisao
                display none
            .texto
                padding 25px 0
                width 100%
                img
                    width 180px
                    margin-bottom 20px
                p
                    font-size 15px
    .frase
        padding 60px 0
        .wrapper
            display flex
            align-items center
        p
            display block
            width 42%
            ubuntu 24 light
            color $verdeMt
            padding-right 75px
            margin 0
            strong
                font-weight 700
        .video-wrapper
            width 58%
            .video
                position relative
                padding-bottom 56.25%
                height 0
                iframe
                    position absolute
                    top 0
                    left 0
                    width 100%
                    height 100%
        +tablet()
            padding 45px 0
            p
                width 50%
                padding-right 50px
                font-size 20px
            .video-wrapper
                width 50%
        +mobile()
            padding 30px 0
            .wrapper
                display block
            p
                width 100%
                margin-bottom 20px
                font-size 18px
            .video-wrapper
                width 100%
    .chamadas
        background $img('mt-bg-icones.png') no-repeat left center $verdeMt
        background-size auto 100%
        .center
            clearfix()
        .texto
            width 58%
            float right
            padding 25px 0
            .chamada
                margin 0
                clearfix()
                img
                    float left
                div
                    width calc('100% - 120px')
                    float right
                    padding-top 20px
                    h3
                        ubuntu 20 bold
                        color #fff
                        margin 0 0 10px
                    p
                        ubuntu 16
                        color #fff
                        margin 0
                + .chamada
                    margin-top 15px
            +tablet()
                width 50%
        +mobile()
            background $verdeMt
            background-image linear-gradient(90deg, #3EB37D, $verdeMt)
            .texto
                width 100%
                .chamada
                    img
                        width 80px
                    div
                        width calc('100% - 100px')
                        padding-top 10px
                        h3
                            font-size 18px
                        p
                            font-size 15px
    .servicos
        padding 80px 0 160px
        h2
            margin 0 0 -60px
            text-align center
            ubuntu 32 light
            color $verdeMt
        .servicos-lista
            display flex
            flex-wrap wrap
            .servico
                width calc('50% - 6px')
                margin-top 95px
                background #EEEEEF
                padding 45px 85px 90px
                position relative
                text-align center
                h3
                    ubuntu 28 bold
                    color $verdeMt
                    margin 0 0 20px
                p
                    ubuntu 16
                    margin 0
                    + p
                        margin-top .8em
                img
                    position absolute
                    bottom 0
                    left 50%
                    max-width 80%
                    transform translateX(-50%) translateY(50%)
                &:nth-child(2n)
                    margin-left 12px
        +tablet()
            padding 40px 0 130px
            .servicos-lista .servico
                padding 30px 30px 80px
                h3
                    font-size 24px
        +mobile()
            padding 25px 0 100px
            h2
                font-size 28px
                margin-bottom -35px
            .servicos-lista
                display block
                .servico
                    width 100%
                    display block
                    padding 20px 20px 60px
                    margin-top 60px
                    img
                        width 200px
                    h3
                        font-size 20px
                    p
                        font-size 15px
                    &:nth-child(2n)
                        margin-left 0
    .contato
        h2
            margin 0 0 45px
            text-align center
            ubuntu 32 light
            color $verdeMt
        .center
            clearfix()
        .dados
            width 285px
            float left
            padding-right 40px
            .telefone
                ubuntu 22 bold
                color $verdeMt
                margin 0 0 10px
            .endereco
                ubuntu 16
                color #777
                margin 0
            +tablet()
                width 100%
                .telefone
                    font-size 20px
                .endereco
                    font-size 15px
            +mobile()
                width 100%
                padding 0
                .telefone
                    font-size 18px
                .endereco
                    font-size 14px
        form
            width calc('100% - 285px')
            float right
            clearfix()
            +below($tablet)
                width 100%
                margin-top 25px
            .col
                margin 0 5px 0 0
                width calc('50% - 67.5px')
                float left
                +mobile()
                    width 100%
                    margin 5px 0
                    input
                        font-size 15px
                input
                    width 100%
                    height 38.333px
                    background #EDECED
                    outline 0
                    border 0
                    color #777
                    ubuntu 16
                    padding 0 8px
                    font-style italic
                    display block
                    + input
                        margin-top 5px
            textarea
                width calc('50% - 67.5px')
                height 125px
                margin-right 5px
                float left
                display block
                border 0
                outline 0
                resize none
                ubuntu 16
                font-style italic
                padding 8px
                color #777
                background #EDECED
                +mobile()
                    width 100%
                    height 100px
                    margin-right 0
                    margin-bottom 5px
                    font-size 15px
            input[type=submit]
                width 125px
                float left
                height 125px
                outline 0
                border 0
                background #EDECED
                ubuntu 16 bold
                color $verdeMt
                cursor pointer
                transition background .3s, color .3s
                &:hover
                    background $verdeMt
                    color #fff
                +mobile()
                    width 100%
                    height 45px
            #form-contato-response
                display none
                width 100%
                margin-top 5px
                border 1px solid #DADADA
                color $verdeMt
                ubuntu 14
                text-align center
                padding 10px
                float left
        .mapa
            width 100%
            height 400px
            margin-top 40px
            iframe
                display block
                width 100%
                height 100%
    .news
        border-top 2px solid $verdeMt
        margin-top 30px
        +mobile()
            margin-top 15px
