.politica
    padding-bottom 60px
    +mobile()
        padding-bottom 25px
    h1
        ubuntu 32 light
        color $azul
        margin 0
        padding 40px 0
        text-transform uppercase
        +mobile()
            font-size 22px
            padding 25px 0
    .texto
        p
            ubuntu 14
            color #777
            &:first-child
                margin-top 0
            &:last-child
                margin-bottom 0
            a
                color $azul
                text-decoration underline
                opacity .7
                transition opacity .3s
                &:hover
                    opacity 1
        ul
            padding 0
            list-style none
            li
                ubuntu 14
                color #777
                padding-left 1em
                position relative
                &:before
                    content '\00b7'
                    position absolute
                    top -.15em
                    left 0
                + li
                    margin-top .5em
